/* big gallery */
#container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}
#photogallery {
  width: 100%;
  height: 100%;
  animation: fade 1s, unblur 1s;
}
#gallerydrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.5) 25%, rgba(255,255,255,0) 50%);
  z-index: -1;
}
.big {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#top {
  z-index: -2;
  opacity: 0;
  transition: opacity 1s;
}
#bottom {
  z-index: -3;
}
#description {
  position: absolute;
  color: white;
  left: 5%;
  bottom: 5%;
  animation: fadeInBot 1s;
}
#caption {
  line-height: 1.5;
  font-size: 20px;
}
#photogallery h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* small gallery */
#second {
  padding: 20px;
}
#tabs {
  text-align: center;
  width: 230px;
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  position: sticky;
  top: 60px;
}
.tab {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  transition: all 0.5s;
  padding: 15px;
  margin: 10px 0 10px 0;
  font-size: 20px;
  display: block;
  color: black;
  text-decoration: none;
}
.tab:hover {
  color: #b71b1b;
}
.tab.active {
  background-color: #b71b1b;
  color: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}
#smallgallery {
  width: calc(100% - 230px);
  display: inline-block;
}
#smallgallery div {
  width: calc(100%/3);
  height: calc((100vh - 60px)/3);
  display: inline-block;
  padding: 1%;
}
#smallgallery img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  object-fit: cover;
  backface-visibility: hidden; /* transition cohesion */
  transition: all 0.5s;
}
#smallgallery a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  transition: all 0.5s;
  will-change: transform; /* to fix the safari bug */
}
#smallgallery img:hover {
  transform: scale(1.1);
}
#smallgallery a:hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}
/* enlarged image */
#backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  text-align: center;
  display: none;
  background-color: rgba(0,0,0,0.75);
}
#x {
  position: fixed;
  top: 50px;
  right: 50px;
  color: white;
  font-size: 30px;
  z-index: 5;
  cursor: pointer;
  display: none;
}
#zoom {
  margin: 80px;
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  object-fit: scale-down;
  animation: fadeIn 0.5s;
}
/* animations */
@keyframes fadeInBot {
   0% {
      opacity: 0;
      transform: translateY(50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
@keyframes unblur {
  0% {
     filter: blur(5px);
  }
  100% {
     filter: blur(0px);
  }
}
@keyframes fade {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}