@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,800&display=swap');
html {
  font-family: nunito sans; /* Default font*/
  scroll-behavior: smooth !important; /* for <a> tags */
}
/* Highlight color */
*::selection {
  background-color: #b71b1b;
  color: white;
}
/*START OF NAVBAR CSS*/
nav
{
  width: 100%;
  height: 60px;
  clear: both;
  background-color: white;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

#logo
{
  width: 120px;
  float: left;
  margin-top: 2.3px;
  margin-left: 15px;
  margin-right: 15px;
}

/*MAKES NAVBAR LINKS LINE UP*/
.bar
{
  position: relative;
  display: inline-block;
}

.bar a
{
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.5s;
}
.bar a:hover
{
  color: #b71b1b;
}
/*MAKES DROPDOWN*/
/*MAKES NAVBAR LINKS LINE UP*/
.dropdown
{
  position: relative;
  display: inline-block;
}

.dropdown button
{
  margin-top: 20px;
  font-size: 20px;
  padding: 0px;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  padding-bottom: 15px;
  background: none;
}

.list
{
  position: absolute;
  width: 180px;
  z-index: 2;
  background-color: #EFEFEF;
  margin-left: 15px;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  transition: all .5s ease;
}

.list a
{
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 18px;
  text-align: left;
  transition: all 0.5s;
}

.list a:hover
{
  background-color: #DBDBDB;
  color: #b71b1b;
}

.dropdown:hover .list
{
  visibility: visible;
  opacity: 1;
  max-height: 100px;
}
/*END OF DROPDOWN CSS*/
/* menu */
#menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../images/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
}
/*END OF NAVBAR CSS*/

/* Footer CSS */
footer
{
  box-sizing: border-box;
  line-height: 2;
  padding: 5%;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
}
#info {
  display: inline-block;
  padding-right: 25px;
}
#connect img {
  margin: 5px;
  height: 50px;
}
.footerlink {
  padding: 0 25px 0 25px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.footerlink a {
  display: block;
}
.footerlink span {
  font-weight: bold;
}
#us {
  font-size: 12px;
  margin-top: 10px;
  padding: 10px;
}
#connect {
  vertical-align: top;
  padding-left: 50px;
  display: inline-block;
  text-align: left;
}
#connect span {
  font-weight: bold;
}
#connect a {
  display: flex;
  align-items: center;
}
#sponsors {
  margin-bottom: 10px;
}
#sponsors img
{
  margin: 5px;
  height: 30px;
}
/* End of footer CSS */
/* Animations */
@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
/* End of animations */
/* Responsive layout */
@media screen and (max-width: 930px) {
  nav {
    text-align: center;
    overflow: auto;
    padding: 0;
  }
  #logo {
    float: none;
  }
  #menu {
    display: block;
  }
  nav .dropdown, nav .bar {
    display: none;
  }
  nav.responsive {
    height: 50vh;
  }
  nav.responsive #menu {
    background-image: url('../images/menured.png')
  }
  nav.responsive .dropdown, nav.responsive .bar {
    display: block;
    width: 100%;
    min-height: 50px;
  }
  nav.responsive .dropdown button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
  }
  nav.responsive .list {
    position: static;
    display: block;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  nav.responsive .list a {
    text-align: center;
  }
  nav.responsive .bar a {
    margin-top: 15px;
    display: inline-block;
  }
}
/* End of responsive layout */
